
nav ul {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 12px;
    margin: auto;
}

nav li {
    padding: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
    margin-right: 30px;
}


nav button {
    background-color: #4486f6;
    color: white;
    padding: 10px;
    width: 80px;
    margin: 5px;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 500px;
    margin: 2rem;
    padding: 0.7rem;
    border-radius: 25px;
}

.btn {
    background-color: #f6f6f6;
    padding: 10px;
    font-size: 14px;
}

footer {
    background-color: #f6f6f6;
}

footer ul {
    height: 15vh;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #5f6368;
    font-size: 12px;

}

footer li {
    padding: 10px;
}